# Environment Variables
.env
.env.local

# Data
data/
data_test/
chroma_db/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
Thumbs.db
